$Neo: "Neo Sans Pro", sans-serif;
$black: black;
$black1: #333;
$white: white;
$white1: #fff;
$blue: blue;
$sky: #286ebe;
$txt16: 0.833vw;
$txt18: 0.94vw;
$txt19:0.99vw;
$txt22: 1.145vw;
$txt32: 1.67vw;
$txt72: 3.75vw;
