$orange1: #f37021;
$wd38: 1.98vw;
$wd20:1.04vw;
$wd24: 1.25vw;
$wd16:0.833vw;
$wd26: 1.35vw;
$wd32: 1.67vw;
$wd35: 1.8vw;
$wd200: 10.416vw;
$wd240: 12.5vw;
$wd320: 16.7vw;
$wd400: 20.83vw;
$gray:gray;
$gray1: rgb(136, 136, 136);
$gray2:#707070;
$white2: rgb(255, 255, 255);
$white3:#f0f0f0;
